[user]
	signingkey = 3DC38575F4D22C50
	email = 123954477+3fxcf9@users.noreply.github.com
	name = 3fxcf9
[commit]
	gpgsign = true

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictStyle = zdiff3
[delta]
    dark = true
    side-by-side = true
    navigate = true
    side-by-side = true
